@import "tailwindcss";

@theme {
  --font-sans: "Outfit", "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-persija-orange: #FF6B00;
  --color-persija-red: #E20613;
  --color-persija-black: #1A1A1A;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-zinc-950 text-zinc-100 font-sans selection:bg-persija-orange selection:text-white;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@400;600;700;800&display=swap');
